// Returns an EM value that is a multiple of our defined base vertical unit. For
// example 3 becomes 1.125em
emRhythm($_lines = modular-scale.vertical-unit, $_font-size = em(type.font-size))
  if is-int($_lines) == false
    warn(lang('not-integer' $_lines))
  else
    (remove-unit($_lines) * remove-unit(modular-scale.vertical-unit)) / (remove-unit($_font-size) * remove-unit(type.font-size)) + 0em


// Returns a unitless number that is a multiple of our defined base vertical unit.
// For example 3 becomes 1.125
unitlessRhythm($_lines = modular-scale.line-multi, $_font-size = type.font-size)
  if is-int($_lines) == false
     warn(lang('not-integer' $_lines))
  else
    ($_lines * remove-unit(modular-scale.vertical-unit)) / (remove-unit($_font-size) * remove-unit(type.font-size))
