// =============================================================================
// COMPONENT: Modular Scale
// SECTION  : Index
// =============================================================================

@require 'lang/_eng';

@require '_helpers';
@require '_modular-scale';
