{% extends "../layout/default.twig" %}

{% block title %} Homepage {% endblock %}

{% block content %}
    <div class="site-sidebar">
        {% include "../molecules/navigation.twig" %}
    </div>
    <div class="site-content">
        <h1>Getting Started</h1>
        <h3>Getting started with Craftkit Css is easy. Whether you are a master of Sass, building a new app, or making your existing site responsive, we've got you covered.</h3>
        <hr>
        <h2>What is Craftkit CSS ?</h2>
        <h3>Foundation is the most advanced, responsive front-end framework in the world. The framework is mobile friendly and ready for you to customize it any way you want to use it.</h3>
    </div>
{% endblock %}
