// base on  http://typecast.com/blog/a-more-modern-scale-for-web-typography
html
    font-size: 100%;

html, body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6
    font-size-adjust: 0.5;



body
    font-family: $base-font-family
    font-size  : $base-font-size; /* equivalent to 16px */
    line-height: $base-line-height; /* equivalent to 20px */

@media all and (min-width: 43.75em)
    body
        font-size: $base-font-size /* equivalent to 16px */
        line-height: 1.375; /* equivalent to 22px */


// small
h1
    font-size: type.h1.small.font-size; /* 2x body copy size = 32px */
    line-height: type.h1.small.line-height; /* 45px / 36px */
// medium
@media all and (min-width: breakpoints.medium)
    h1
        font-size: type.h1.medium.font-size; /* 2.5x body copy size = 40px */
        line-height: type.h1.medium.line-height;
// large
@media all and (min-width: breakpoints.large)
    h1
        font-size: type.h1.large.font-size; /* 3x body copy size = 48px */
        line-height: type.h1.large.line-height; /* keep to a multiple of the 20px line height and something more appropriate for display headings */



h2
    font-size: type.h2.small.font-size; /* 1.625x body copy size = 26px */
    line-height: type.h2.small.line-height; /* 30px / 26px */

@media all and (min-width: breakpoints.medium)
    h2
        font-size: type.h2.medium.font-size; /* 2x body copy size = 32px */
        line-height: type.h2.medium.line-height;

@media all and (min-width: breakpoints.large)
    h2
        font-size: type.h2.large.font-size; /* 2.25x body copy size = 36px */
        line-height: type.h2.large.line-height;



h3
    font-size: type.h3.small.font-size; /* 1.375x body copy size = 22px */
    line-height: type.h3.small.line-height; /* 25px / 22px */

@media all and (min-width: breakpoints.medium)
    h3
        font-size: type.h3.medium.font-size; /* 1.5x body copy size = 24px */
        line-height: type.h3.medium.line-height;

@media all and (min-width: breakpoints.large)
    h3
        font-size: type.h3.medium.font-size; /* 1.75x body copy size = 28px */
        line-height: type.h3.medium.line-height;



h4
    font-size: type.h4.small.font-size; /* 1.125x body copy size = 18px */
    line-height: type.h4.small.line-height;

@media all and (min-width: breakpoints.large)
    h4
        font-size: type.h4.large.font-size
        line-height: type.h4.large.line-height; /* (22px / 18px */



blockquote
    font-size: type.blockquote.small.font-size; /* 20px / 16px */
    line-height: type.blockquote.small.line-height; /* 25px / 20px */

@media all and (min-width: breakpoints.large)
    blockquote
        font-size: type.blockquote.large.font-size; /* 24px / 16px = */
        line-height: type.blockquote.large.line-height; /* 35px / 24px */
