@import "app.styl"

// ATOMS

.btn-secondary {
    Button($color: color.secondary)
}

.btn-tertiary {
    Button($color: color.tertiary)
}

.btn-quadrary {
    Button($color: color.quadrary)
}

.btn-small {
    Button($size: small)
}
.btn-large {
    Button($size: large)
}




// MOLECULES
.buttons{
    padding-bottom: 20px
}


// ORGANISMS
.TypContainer,
.ButtonContainer {
   center(800px)
   _c(margin-bottom, 30px)
}

.ButtonContainer {
    _c(padding, 10px)
}
