<nav>
    <ul class="nav--side">
        <li class="nav__heading">Typography</li>
        <li class="nav__item"><a href="#">Type</a></li>
        <li class="nav__item"><a href="#">Inline list</a></li>
        <li class="nav__item"><a href="#">Labels</a></li>
        <li class="nav__item"><a href="#">Keystrokes</a></li>
    </ul>
</nav>
