// =============================================================================
// COMPONENT: Breakpoint
// SECTION  : Variables
// =============================================================================

breakpoint = {
    //Breakpoints
    small : 24em,
    small-2 : 29.75em,
    small-3 : 39.8em,
    medium : 46.8em,
    medium-2 : 48em,
    large : 50em,
    large-2 : 66em,
    xl : 73em,
    xxl : 89em,
    xxxl : 93em
}
