// =============================================================================
// COMPONENT: Color
// SECTION  : Variables
// =============================================================================

color = {
    primary: #4183D7,
    secondary: #fff,
    tertiary: #fff,
    quadrary: #fff,
}

color['text'] = #333
color['link'] = color.primary
color['hover-link'] = darken(color.link, 30%)
