// =============================================================================
// COMPONENT: Color
// SECTION  : Variables
// =============================================================================

color = {
    primary: #4183D7,
    secondary: #FFD63D,
    tertiary: #5C4ADB,
    quadrary: #FFB53D,
}

color['text'] = #333
color['link'] = color.primary
color['hover-link'] = darken(color.link, 30%)
