// =============================================================================
// COMPONENT: Table
// SECTION  : Variables
// =============================================================================

table = {
    'border-color': #CBCBCB
}
