extend ./../../includes/layout.jade

block title
    title Index Page

block content
    h1 consectetur adipisicing elit.
    p.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione a nemo neque. Quibusdam necessitatibus eos obcaecati minima officiis, ipsa nihil libero eveniet perferendis enim, autem iure est aliquam consectetur esse.
