// Check if value is an integer and returns true or false
is-int($number)
  if $number is a 'unit' and floor(abs($number)) == abs($number)
    true
  else
    (error '' + $number + ' must be a unit!')
