/* ==========================================================================
   Atoms: Anchor / Links
   Source: http://sixrevisions.com/usability/hyperlink-design/
   ========================================================================== */
a
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid $base-link-color;

    // see  Base styles: Anchor / Links on "base/_type.styl"
    // Optional transition
    -webkit-transition:all $base-animation-time linear;
    -moz-transition:all $base-animation-time linear;
    -o-transition:all $base-animation-time linear;
    transition:all $base-animation-time linear;
