// =============================================================================
// COMPONENT: Color
// SECTION  : Index
// =============================================================================


@require "_color";
