// ==========================================================================
//  Component: Table
//  Section: _table
// ==========================================================================



// Table Base Styles
// ==========================================================================

$tableBase
    c(width, 100%);
    padding-bottom: 0;
    width: 100%;

    /* make sure captions are displayed */
    caption
        display: block;


    /* hide the thead */
    thead
        background: none repeat scroll 0% 0% #E0E0E0;
        display: none;

    /*
    * make everything display block so it
    * aligns vertically
    */
    tbody, tr, th, td
        border: 0;
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;


    th,td
        padding: 0.5em 1em;


    /* Labeling
    * adding a data-title attribute to the cells
    * lets us add text before the content to provide
    * the missing context
    *
    * Markup:
    *   <td data-title="Column Header">Content Here</td>
    *
    * Display:
    *   Column Header: Content Here
    */
    th[data-title]:before,
    td[data-title]:before
        content: attr(data-title) ":\00A0";
        font-weight: bold;


    th:not([data-title])
        font-weight: bold;


    /* hide empty cells*/
    td:empty
        display: none;


    @media all and (min-width: breakpoint.medium)
        /* Labeling
         * Hide the mobile labels */
        th[data-title]:before,
        td[data-title]:before
          content: "";
          font-weight: bold;

        th:not([data-title])
          font-weight: bold;


        /* re-show empty cells*/
        td:empty
          display: table-cell;


        /* show the thead again */
        thead
          display: table-header-group;


        /* make everything display regularly again */
        tbody
            display: table-header-group;

        tbody, tr, th, td
          padding: 0;
          text-align: left;
          white-space: normal;

        th, td
            display: table-cell;
            padding: 0.5em 1em;

        tr
            display: table-row;

        table
          border-top-width: 0;
          width: auto;


        tr
          border-style: none;
          border-bottom-width: 0;

        th, td
          border-style: none;
          padding-right: 1em;
          text-align: left;
          min-width: 50px;
          vertical-align: top;


        th + th,
        th + td,
        td + th,
        td + td
          border-left-width: 1px;

        thead tr:last-child
          border-bottom-width: 2px;

        thead th,
        tr.index th
          font-weight: bold;
          line-height: 1.25;

        thead th
          // padding-bottom: .25em;

        tbody:first-of-type tr.index th
          padding-top: 1em;


        tbody th
          font-weight: normal;





// Vertical bordered table
// ==========================================================================

$tableVbordered
    border-left: 1px solid table.border-color;
    border-width: 0px 0px 0px 1px;



Table($_vbordered = false)
    // base styles
    @extend $tableBase

    // skin
    if $_vbordered == true
      // on medium down
      border: 1px solid table.border-color;

      // then medium up
      @media all and (min-width: breakpoint.medium)
        th, td
            @extends $tableVbordered
