/* ==========================================================================
   Componnent: table
   Source: http://css-tricks.com/responsive-data-tables/
   ========================================================================== */

@require "_utilities";
@require "_table";
