// =============================================================================
// COMPONENT: Type
// SECTION  : Main
// =============================================================================


/* ==========================================================================
   Box Sizing
   Source: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
   ========================================================================= */

*{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}



/* set 100% = 16px default font-size on all browser */
html
    _c(font-size, (remove-unit(type.font-size) / remove-unit(16px)) * 100%);
    /* Stops devices from scaling up text. */
    -webkit-text-size-adjust : 100%;
    -ms-text-size-adjust     : 100%;



/*
    By specifying the font-size-adjust property, the browser will adjust the
    font size to be the same regardless of the font family
*/

html, body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6
    font-size-adjust: 0.5;



/* Browsers set margins on all block-level elements (such as headings, lists
   and blockquotes) so a way of ensuring that typographic attention is paid to
   all such elements is to reset the margins at the beginning of your style sheet. */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  _c(margin-top, 0);
  _c(padding-top, 0);
  _c(padding-bottom, 0);
  _c(font-family, type.heading-family);




body
     _c(margin      , 0);
     _c(padding     , 0);
     _c(font-family , type.font-family);
     _c(font-weight , 400);
     _c(color       , color.text);

    // optional
    if type.font-smoothing
        text-shadow: 0 -1px 1px alpha(#fff, 0.01);
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;

    setLeading();


@media all and (min-width: breakpoint.medium)
    body
         _c(font-size, type.font-size); /* equivalent to 16px */
         _c(line-height, 1.375); /* equivalent to 22px */




/* ==========================================================================
   Base styles Anchor / Links
   Source: http://sixrevisions.com/usability/hyperlink-design/
   ========================================================================== */
a
    _c(color, color.link);
    _c(padding-bottom, 1px);
    _c(border-bottom, 1px solid #8d8df3);

    &:hover, &:focus
         _c(color, color.hover-link);



/* ==========================================================================
   Base Heading styles
   ========================================================================== */

h1, .h1
    _c(margin-bottom, emRhythm(1, modular-scale.up2))
    setType(6, modular-scale.up2)

    @media (min-width: breakpoint.medium)
        _c(margin-bottom, emRhythm(1, modular-scale.up3))
        setType(8, modular-scale.up3)

    @media (min-width: breakpoint.large)
         _c(margin-bottom, emRhythm(1, modular-scale.up4))
        setType(10, modular-scale.up4)


h2, .h2
    _c(margin-bottom, emRhythm(1, modular-scale.up1))
    setType(5, modular-scale.up1)

    @media (min-width: breakpoint.medium)
        _c(margin-bottom, emRhythm(1, modular-scale.up2))
        setType(6, modular-scale.up2)

    @media (min-width: breakpoint.large)
        _c(margin-bottom, emRhythm(1, modular-scale.up3))
        setType(8, modular-scale.up3);


h3, .h3
    _c(margin-bottom, emRhythm(1, modular-scale.up1))
    setType(5, modular-scale.up1)

    @media (min-width: breakpoint.large)
        _c(margin-bottom, emRhythm(1, modular-scale.up2))
        setType(6, modular-scale.up2)


h4, .h4
    _c(margin-bottom, emRhythm(1, modular-scale.up1))
    setType(5, modular-scale.up1)


h5, .h5,
h6, .h6
    _c(margin-bottom, emRhythm(1))
    setType(4);



/* ==========================================================================
   Base Paragraph styles
   ========================================================================== */

p
    _c(margin-top, 0);
    _c(margin-bottom, emRhythm(modular-scale.line-multi));
    _c(padding-top, 0);
    _c(padding-bottom, 0);
    //_c(max-width, emRhythm(96));
    -webkit-hyphens: auto;
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;

    @media (min-width: breakpoint.medium)
        if type.paragraph-justify
             _c(text-align, justify)


    if type.paragraph-indent
        p + p
             _c(margin-top, emRhythm(modular-scale.line-multi * -1))
             _c(text-indent, emRhythm(modular-scale.line-multi))



/* ==========================================================================
   Base List styles
   ========================================================================== */

ol,
ul,
dl
     _c(margin-top, 0);
     _c(margin-bottom, emRhythm(4));
     _c(margin-left, emRhythm(4));
     _c(padding-top, 0);
     _c(padding-bottom, 0);

ul ul,
ol ol,
dl dl
     _c(margin-left, 0);


ul
     _c(list-style, disc);


ol
     _c(list-style, decimal);




/* ==========================================================================
   Base abbr styles
   ========================================================================== */

// https://developer.mozilla.org/en-US/docs/CSS/font-variant
abbr
     _c(font-variant, small-caps);
     _c(font-weight, 600);
     _c(text-transform, lowercase);

// Cursor changed to a question mark when it has a title
abbr[title]:hover
     _c(cursor, help);



/* ==========================================================================
   Base blockquote styles
   ========================================================================== */

blockquote
     _c(margin-top, emRhythm(4));
     _c(margin-bottom, emRhythm(4));
     _c(margin-left, 0);
     _c(padding-top, 0);
     _c(padding-bottom, 0);
     _c(padding-left, emRhythm(4));
     _c(border-left, modular-scale.vertical-unit solid lighten(#000, 50%));
     _c(font-family, $type-serif-family);

    p
         _c(margin-bottom, emRhythm(2))

    footer
        cite
            &:before
              content: " – ";


/* ==========================================================================
   Base hr styles
   ========================================================================== */

// Creates horizontal rules that obey the baseline.
// Zero outs the user agent border
hr
     _c(margin-top, emRhythm(4))
     _c(margin-bottom, 0);
     _c(border, none);
     _c(border-top-color, type.text);
     _c(border-top-style, solid);
    rhythmBorderTop(1px, 4);



/* ==========================================================================
   Base styles for small, em, strong, pre, code, time
   ========================================================================== */

small,
.font-small
      setType(3, modular-scale.down1)

em
     _c(font-style, italic);

strong
     _c(font-weight, bold);

pre,
code
     _c(font-family, type.mono-family);

time,
.time
     _c(text-transform, uppercase);



code, samp, kbd {
   _c(text-align, left);
   _c(color, color.text);

  // source: http://css-tricks.com/snippets/css/make-pre-text-wrap/
    _c(white-space, pre-wrap);       /* css-3 */
    _c(white-space, -moz-pre-wrap);  /* Mozilla, since 1999 */
    _c(white-space, -pre-wrap);      /* Opera 4-6 */
    _c(white-space, -o-pre-wrap);    /* Opera 7 */
    _c(word-wrap, break-word);       /* Internet Explorer 5.5+ */
}
pre code {
   _c(line-heightm, 1.6em);
}
pre {
   _c(paddingm, 0.1em 0.5em 0.3em 0.7em);
   _c(border-leftm, 11px solid lighten(color.primary, 30%));
   _c(marginm, 1.7em 0 1.7em 0.3em);
   _c(overflow, auto);
   _c(width, 93%);
}
