print($sel, declarations)
  if type(declarations) == 'object'
    {$sel}
      {declarations}
  else
    warning 'Invalid css declaration: `%s`.' % declarations


// Message
test-msg($test-name, $test-used, $test-result, $_expected, $_actual, $_message)
  test-results-msg = {}

  test-results-msg['Status']  = ($test-result) ? 'Passed' : 'Failed'
  test-results-msg['Messages'] = ($test-result) ? 'Ok' : $_message
  test-results-msg['Expected-Value'] = $_expected
  test-results-msg['Actual-Value'] = $_actual
  test-results-msg['Test-Used'] = $test-used

  print($test-name, test-results-msg)


//
check-type($_expected, $_actual)
  (type($_actual) == type($_expected)) ? true : false

//
assertEquals($test-name, $_expected, $_actual, $_message)
  $_matched-value = ($_expected == $_actual and check-type($_expected, $_actual)) ? true : false
  test-msg($test-name, 'assertEquals', $_matched-value, type($_expected), type($_actual), $_message)
