
// animation
$base-animation-time    = .2s; // subject to change

// Modular scale ratio that is used to figure out all the different font sizes
$base-ratio             = ks-perfect-fourth;

//font
$base-font-size         = 16px;
$base-em-font-size      = em($base-font-size);
$base-line-height       = 20px;
$base-font-family       = font-stack("Helvetica");

//text
$base-text-color        = #222;

// link
$base-link-color        = color.primary;
$base-link-hover-color  = darken($base-link-color, 30%);

//
$base-vertical-unit     = 6px;

// The value that multiplies the $base-vertical-unit to get the $base-line-height.
// This gives type an ideal line-height.
$base-line-multi        = 4;
