
$type-font-smoothing = true;

$type-mono-family    = font-stack('Lucida Console');
$type-serif-family   = font-stack('Georgia');

$type-heading-family = font-stack('Cambria');


// [1] Paragraph setting that you can turn on or off the indent of the first line
// of a new paragraph.
// [2] Paragraph setting that you can turn on or off to have your paragraphs ragged
// right or justified.

$type-paragraph-indent    = true; // [1]
$type-paragraph-justify   = true; // [2]



